<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de mis amigos </h1>
    <h2>Estos son mis amigos :D </h2>

    {% for friend in friends %}

        <p>Su nombre es: {{friend.name}}</p>
        <p>Tiene: {{friend.age}} años</p>

        {% if friend.male == True %}
            <p> Es un Macho Espartano!!</p>
        {% else %}
            <p>Es una Amazona bien maciza!!</p>
        {% endif %}

    {% endfor %}
</body>
</html>